@import "tailwindcss";

@font-face {
  font-family: "Wizard";
  font-weight: 400;
  src: url("/fonts/Wizard.otf");
}

@font-face {
  font-family: "Stress";
  font-weight: 400;
  src: url("/fonts/Stress.otf");
}

@theme {
  --font-wizard: "Wizard";
  --font-stress: "Stress";
}

@layer {
  .font-wizard {
    font-family: var(--font-wizard);
  }

  .font-stress {
    font-family: var(--font-stress);
  }
}

html {
  overflow-x: hidden;
  background-color: black;
  font-family: "Stress";
}

/* Hide default scrollbars completely */
* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}
